<article class="post is-outlined is-grey-light">
  <div class="title">
    <span>{{title}}</span>
    <p>{{comment}}</p>
  </div>
  <div class="meta">
    {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>